<!DOCTYPE html>
<html>
  <head>
    <title>Function App</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
    />
  </head>

  <body>
    <a href="">Mail Function</a>
  </body>
</html>
