<a href="/">Go to check the DataBase</a>

          
            <div>
            <textarea rows="20" cols="100"><%=result%>
             
                  
                </textarea>
            </div>
           