<h1>Hello from ail function page</h1>

<a href="/">Go check words</a>

<form action="/mailfunction" method="POST">
  <div class="form-group">
    <input
      class="form-control"
      type="email"
      name="mail"
      placeholder="Mail"
      required
    />
  </div>
  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block">Submit</button>
  </div>
</form>

<form action="/mailfunction" method="POST">
  <div>
    <button class="btn btn-lg btn-primary btn-block">Send mail</button>
  </div>
</form>
<div>
  <% mail.forEach(function(mail){ %>

  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <h4><%=mail.mail%></h4>
    </div>
  </div>

  <% });%>
</div>

<form action="/mailfunction?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
