<h1>Text Input</h1>
<a href="/mailfunction">Go to send mails</a>

<form action="/" method="POST">
  <div class="form-group">
    <input
      class="form-control"
      type="Text"
      name="skill"
      placeholder="Skill"
      required
    />
  </div>
  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block">Submit</button>
  </div>
</form>

<div>
  <% skills.forEach(function(skill){ %>

  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <h4><%=skill.skill%></h4>
    </div>
  </div>

  <% });%>
</div>

<form action="/?_method=DELETE" method="POST">
  <button>Delete</button>
</form>

<div>
  <form action="/" method="POST">
    <h3>Compare this text to the ones in the database</h3>
    <div class="form-group">
      <input
        class="form-control"
        type="Text"
        name="skillcheck"
        placeholder="skillcheck"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="Text"
        name="ratiocheck"
        placeholder="Ratio to check word"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block">Check</button>
    </div>
  </form>

  <form action="/?_method=PUT" method="POST">
    <h3>Check the word in the database</h3>
    <div class="form-group">
      <input
        class="form-control"
        type="Text"
        name="skillchange"
        placeholder="Skill to Chnage"
        required
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="Text"
        name="ratiocheck"
        placeholder="Ratio to check word"
        required
      />
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block">Update</button>
    </div>
  </form>
</div>
